
.animated {
	opacity: 0;
}

.scrollButton {
	margin-top: 20px;
}

.portfolio-img {
	background-color: #fff;
}

.anim-delay1 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.anim-delay2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.anim-delay3 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.ng-invalid.ng-touched {
	background-color: #FFDDDF;
}

.ng-valid.ng-touched {
	background-color: #DBFFE0;
}
